@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #5F2EEA;
}

body {
  min-height: 100vh;
}

main section figure img {
  width: 40rem; /* 640px de 16 */
  height: 25rem; /* 400px de 16 */
}

.container {
  width: 75rem; /* 1200px */
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  border: 2px solid var(--main-color);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.93rem; /* 175px */
    height: 3.5rem; /* 56px */
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    font-size: 16px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button::after {
    content: "";
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
}

.button:hover {
    transform: scale(1.125, 1.125);
}

.button:hover::after {
  opacity: 1;
}

@media(max-width: 590px) {
  :root {
    font-size: 62.25%; /* 10px */
  }
}

.scale {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.scale::after {
  content: "";
  opacity: 0;
}

.scale:hover {
  transform: scale(1.125, 1.125);
}

.scale:hover::after {
  opacity: 1;
}




