/*=== HOME ===*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    display: flex;
    align-items: center;
}

main section .login {
    width: 23.75rem; /* 380px */
    margin-left: 8.5rem;
}

main section .login p {
    margin-top: 2rem;
}

main section .login p a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

main section .login .buttons {
    display: flex;
    justify-content: space-between;
}

main section .login .buttons a {
    border-radius: 50px;
}

main section .login .buttons a:nth-child(2) {
    background-color: #FFF;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

/*=== LOGIN ===*/

main section .login h1 {
    font-size: 38px;
    text-align: center;
}

main section .login form .field:nth-child(1) {
    margin-top: 3.5rem;
}

main section .login form .field {
    margin-top: 1rem;
    display: flex;
    background-color: #EFF0F6;
    border-radius: 16px;
    width: 23.75rem; /* 380px */
}

main section .login form .field div.icon {
    padding: 22px 24px;
}

main section .login form .field div.icon img {
    width: 24px;
    height: 24px;
    align-self: center;
}

main section .login form fieldset div.icon .show-hide {
    cursor: pointer;
}

main section .login form .field .input {
    padding: 8px 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main section .login form .field .input label {
    font-size: 14px;
    color: #6E7191;
}

main section .login form .field .input input {
    background-color: #EFF0F6;
    border: none;
    font-size: 16px;
}

main section .login form button {
    margin-top: 1rem;
    width: 100%;
}

@media (max-width: 768px){
    main section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
   main section.container{
        width: 43rem;
        
    }
    main section figure{
        margin-bottom: 8.75rem;
    }
    main section div.login{
        margin-left: 0px;
    }
}   
