<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEXT school | Notas</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/grades.css">
</head>
<body>
  <main class="container">

    <h2>NOTAS</h2>
    <h1>FRONT-END</h1>
    <section class="grades">
        <div class="box">
            <h2 class="text">HTML</h2>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 10) / 10);"></circle>
                </svg>
                <div class="number">
                    <h2><span>10 </span>/ 10</h2>
                </div>
            </div>
        </div>
        <div class="box">
            <h2 class="text">CSS</h2>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 8) / 10);"></circle>
                </svg>
                <div class="number">
                    <h2><span>8 </span>/ 10</h2>
                </div>
            </div>
        </div>
        <div class="box">
            <h2 class="text">JAVASCRIPT</h2>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 9) / 10);"></circle>
                </svg>
                <div class="number">
                    <h2><span>9 </span>/ 10</h2>
                </div>
            </div>
        </div>
        <div class="box">
            <h2 class="text">ANGULAR</h2>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 9) / 10);"></circle>
                </svg>
                <div class="number">
                    <h2><span>9 </span>/ 10</h2>
                </div>
            </div>
        </div>
        <div class="box">
            <h2 class="text">PROJETO</h2>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70" style="stroke-dashoffset: calc(440 - (440 * 7.5) / 10);"></circle>
                </svg>
                <div class="number">
                    <h2><span>7.5 </span>/ 10</h2>
                </div>
            </div>
        </div>
    </section>
    

  </main> 
</body>
</html>
