<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEXT school | Notas</title>
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/grades.css">
</head>
<body>
  <main>
    <h2><%= aluno.nome %> </h2>
    <h1>FRONT-END</h1>
    <form action="/professor/notas/<%= aluno.id%>?_method=PUT" method="POST" class="grades-prof container">
        <div class="fields">
            <% for( let nota of aluno.boletim) { %>
                <fieldset>
                    <label for=""><%= nota.disciplina_id %></label>
                    <input type="number" name="nota<%= nota.disciplina_id %>" id="disciplina_id">
                </fieldset>
            <% } %>
        </div>
        <button class="button flex-center" type="submit">Enviar</button>
    </form>  
  </main> 
</body>
</html>
